<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notice board</title>
    <!-- Bootstrap and jQuery imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css" integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <!-- Custom css and js -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/fetch_api.js}"></script>
</head>
<body>
<div class="jumbotron container text-center col-lg-5 col-lg-offset-5">
<div class="container" id="main">
    <h1 class="center">Notice board</h1>

    <a href="/login">Login Page</a>
    <!-- Entries -->
    <div id="notices">

        <div class="notice card" th:each="notice : ${notices}">
            <div class="notice-header card-header">
                <div class="notice-date" hidden><h2 th:text="${notice.date}"></h2></div>
            </div>
            <div class="notice-body card-body">
                <div class="notice-text card-text" th:text="${notice.text}">

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>